<div class="page-content">
  <div class="page-content-header">
    <div class="page-content-header__title">
      <i class="icon icon-layout-list-thumb"></i>
      <span>{{ recipe.title }}</span>
    </div>
    <div class="page-content-header__actions">
      <button mat-flat-button>
        <i class="icon icon-control-play"></i>
        <span>Run</span>
      </button>

      <button mat-flat-button color="primary" (click)="onAddStep()">
        <i class="icon icon-plus"></i>
        <span>Add Step</span>
      </button>
    </div>
  </div>

  <div class="page-content-payload">
    <div class="step" *ngFor="let step of steps">
      <div class="step-header">
        <div class="step-header__title">{{ step.title }}</div>

        <div class="step-header__status" *ngIf="false">
          <div class="chip chip-sm">{{ step.status | stepStatus }}</div>
        </div>

        <div class="step-header__actions">
          <div class="step-action" (click)="onSwitchStep(step)">
            <i class="icon icon-power-off"></i>
            <span>Turn {{ step.disabled ? 'On' : 'Off' }}</span>
          </div>

          <div class="step-action" (click)="onEditStep(step)">
            <i class="icon icon-pencil"></i>
            <span>Edit</span>
          </div>
        </div>
      </div>

      <div class="step-payload">
        <div class="add-rule-action" (click)="onAddRule(step)">
          <i class="icon icon-plus"></i>
          <span>Add Rule</span>
        </div>
      </div>
    </div>
  </div>
</div>
