.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 16px;
  padding: 0 16px;
  border-color: var(--color-grey);
  color: var(--color-grey);
  font-size: 13px;
  border: 1px solid;

  &-sm {
    height: 18px;
    border-radius: 9px;
    padding: 0 12px;
    font-size: 12px;
  }

  i {
    margin-right: 8px;
    font-size: 16px;
  }

  &-success {
    border-color: var(--color-success);
    color: var(--color-success);
  }

  &-warn {
    border-color: var(--color-warn);
    color: var(--color-warn);
  }

  &-danger {
    border-color: var(--color-danged);
    color: var(--color-danged);
  }
}
