.color {
  &-red {
    color: #ff453a;
  }

  &-orange {
    color: #ffa00b;
  }

  &-yellow {
    color: #ffcc01;
  }

  &-green {
    color: #32d74b;
  }

  &-mint {
    color: #66d4cf;
  }

  &-teal {
    color: #6ac4dc;
  }

  &-cyan {
    color: #5ac8f5;
  }

  &-blue {
    color: #0b83ff;
  }

  &-indigo {
    color: #5e5ce6;
  }

  &-purple {
    color: #bf59f2;
  }

  &-pink {
    color: #ff375f;
  }

  &-brown {
    color: #ac8e68;
  }

  &-gray {
    color: #98989d;
  }
}

.bg {
  &-red {
    background: #ff453a;
  }

  &-orange {
    background: #ffa00b;
  }

  &-yellow {
    background: #ffcc01;
  }

  &-green {
    background: #32d74b;
  }

  &-mint {
    background: #66d4cf;
  }

  &-teal {
    background: #6ac4dc;
  }

  &-cyan {
    background: #5ac8f5;
  }

  &-blue {
    background: #0b83ff;
  }

  &-indigo {
    background: #5e5ce6;
  }

  &-purple {
    background: #bf59f2;
  }

  &-pink {
    background: #ff375f;
  }

  &-brown {
    background: #ac8e68;
  }

  &-gray {
    background: #98989d;
  }
}
