.dialog {
  border-radius: 8px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  width: var(--dialog-width);

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &__title {
      font-size: 18px;
    }

    &__close {
      margin-left: auto;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    &__field {
      margin-bottom: 12px;
    }
  }

  &-actions {
    display: flex;
    padding-top: 12px;
    margin: 0 -4px;

    button {
      margin: 0 4px;
      flex: 1;
    }
  }
}
