.form-field-group {
  display: flex;
  margin: 0 -4px;

  &__item {
    flex: 1;
    margin: 0 4px;
  }
}

textarea {
  padding: 6px 0;
}

.form {
  display: flex;
  flex-direction: column;

  &__field {
    margin-bottom: 16px;
  }
}
