.payload {
  display: flex;
  height: 100%;

  &-sidebar {
    flex: 0 0 320px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.05);

    &__title {
      padding: 28px 20px;
      font-size: 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      i {
        opacity: 0.5;
        margin-right: 16px;
      }
    }

    &__list {
      flex: 1 0 auto;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      padding: 24px 20px;
    }
  }

  &-content {
    flex: 1 1 auto;
    padding: 16px;
    background: var(--color-dark-secondary);
  }
}

.list-item {
  display: flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background 256ms;
  margin-bottom: 1px;
  padding: 16px 24px;

  &:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    background: var(--color-dark-secondary);
  }

  &.active {
    background: var(--color-dark-secondary);

    &:before {
      background: var(--color-brand);
    }
  }

  &-icon {
    font-size: 22px;
    margin-right: 16px;
    opacity: 0.5;
  }

  &-payload {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 4px;
    }

    &__subtitle {
      font-size: 15px;
      opacity: 0.5;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    i {
      opacity: 0.33;
    }
  }
}
