<div class="payload">
  <div class="payload-sidebar">
    <div class="payload-sidebar__title">
      <span>Devices</span>
      <i class="icon icon-search"></i>
    </div>

    <div class="payload-sidebar__list">
      <div class="list-item active">
        <div class="list-item-icon">
          <i class="icon icon-harddrive"></i>
        </div>
        <div class="list-item-payload">
          <div class="list-item-payload__title">Some device title</div>
          <div class="list-item-payload__subtitle">ID: 6781327843782472</div>
          <div class="list-item-payload__subtitle">Assets: 24</div>
        </div>
        <div class="list-item-menu">
          <i class="icon icon-more-vertical"></i>
        </div>
      </div>

      <div class="list-item">
        <div class="list-item-icon">
          <i class="icon icon-harddrive"></i>
        </div>
        <div class="list-item-payload">
          <div class="list-item-payload__title">Some device title</div>
          <div class="list-item-payload__subtitle">ID: 6781327843782472</div>
          <div class="list-item-payload__subtitle">Assets: 24</div>
        </div>
        <div class="list-item-menu">
          <i class="icon icon-more-vertical"></i>
        </div>
      </div>

      <div class="list-item">
        <div class="list-item-icon">
          <i class="icon icon-harddrive"></i>
        </div>
        <div class="list-item-payload">
          <div class="list-item-payload__title">Some device title</div>
          <div class="list-item-payload__subtitle">ID: 6781327843782472</div>
          <div class="list-item-payload__subtitle">Assets: 24</div>
        </div>
        <div class="list-item-menu">
          <i class="icon icon-more-vertical"></i>
        </div>
      </div>
    </div>

    <div class="payload-sidebar__controls">
      <button mat-flat-button color="primary">+ Add Device</button>
    </div>
  </div>

  <div class="payload-content"></div>
</div>
