.tag {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  height: 24px;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;
  //background: #df792120;
  margin-right: 4px;

  &.md {
    height: 24px;
  }

  &.lg {
    height: 26px;
  }

  &__title {
    margin-top: -2px;
  }

  &__icon, &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  &__icon {
    margin-right: 6px;
  }

  &__close {
    cursor: pointer;
    opacity: 0.33;
    transition: opacity 256ms;
    margin-left: 6px;
    font-size: 12px;

    &:hover {
      opacity: 1;
    }
  }
}
