<div class="page-content">
  <div class="page-content-header">
    <div class="page-content-header__title">
      <i class="icon icon-receipt"></i>
      <span>{{ recipe.title }}</span>
    </div>
    <div class="page-content-header__actions">
      <button mat-flat-button>
        <i class="icon icon-control-play"></i>
        <span>Run</span>
      </button>

      <button mat-flat-button color="primary" (click)="onAddStep()">
        <i class="icon icon-plus"></i>
        <span>Add Step</span>
      </button>
    </div>
  </div>

  <div class="page-content-payload" *ngIf="(stepRules$ | async) as stepRules">
    <div class="step" *ngFor="let step of steps">
      <div class="step-header">
        <div class="step-header__title">{{ step.title }}</div>

        <div class="step-header__status" *ngIf="false">
          <div class="chip chip-sm">{{ step.status | stepStatus }}</div>
        </div>

        <div class="step-header__actions">
          <div class="step-action" (click)="onSwitchStep(step)">
            <i class="icon icon-power-off"></i>
            <span>Turn {{ step.disabled ? 'On' : 'Off' }}</span>
          </div>

          <div class="step-action" (click)="onAddRule(step)">
            <i class="icon icon-plus"></i>
            <span>Add Rule</span>
          </div>

          <div class="step-action" (click)="onEditStep(step)">
            <i class="icon icon-pencil"></i>
            <span>Edit</span>
          </div>
        </div>
      </div>

      <div class="step-payload">
        <div class="rule" *ngFor="let rule of stepRules(step.id)">
          <div class="rule-header">
            <div class="rule-header-title">
              <i class="icon icon-bookmark"></i>
              <span>{{ rule.title }}</span>
              <i class="icon icon-pencil" (click)="onEditRule(rule)"></i>
            </div>

            <div class="rule-header-actions" (click)="onSwitchRule(rule)">
              <i class="icon icon-power-off" [class.active]="!rule.disabled"></i>
            </div>
          </div>

          <div class="rule-desc">{{ rule.desc ? rule.desc : 'No description' }}</div>

          <div class="rule-payload">
            <div class="rule-payload__section">
              <div class="rule-section">
                <div class="rule-section-header" (click)="onAddTrigger(rule)">
                  <i class="icon icon-plus"></i>
                  <span>Trigger</span>
                </div>

                <div class="rule-section-body">
                  <ng-container *ngIf="(ruleTriggers$ | async) as ruleTriggers">
                    <div class="rule-node" *ngFor="let trigger of ruleTriggers(rule.id)" (click)="onEditTrigger(trigger)">
                      <div class="rule-node__title">{{ trigger.title }}</div>
                      <div class="rule-node__body">
                        <div class="trigger">
                          <div class="trigger-assets">
                            <div class="trigger-assets-item" *ngFor="let asset of trigger.assets">
                              <div class="trigger-assets-item__icon">
                                <i class="icon icon-package"></i>
                              </div>
                              <div class="trigger-assets-item__device">{{ asset.device | assetDeviceName }} ::</div>
                              <div class="trigger-assets-item__asset">{{ asset.title }}</div>
                            </div>
                          </div>
                          <div class="trigger-div"></div>
                          <div class="trigger-conditions">
                            <div class="trigger-conditions-item" *ngFor="let condition of trigger.conditions">
                              <div class="trigger-conditions-item__operator">{{ condition.operator | assetCondition }}</div>
                              <div class="trigger-conditions-item__value">{{ condition.value }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="rule-payload__section">
              <div class="rule-section">
                <div class="rule-section-header" (click)="onAddAction(rule)">
                  <i class="icon icon-plus"></i>
                  <span>Action</span>
                </div>
                <div class="rule-section-body">
                  <ng-container *ngIf="(ruleActions$ | async) as ruleActions">
                    <div class="rule-node" *ngFor="let action of ruleActions(rule.id)" (click)="onEditAction(action)">
                      <div class="rule-node__title">{{ action.type | actionTypeName }}</div>
                      <div class="rule-node__body">
                        <div class="rule-action" *ngIf="action.type === actionType.Email">
                          <div class="rule-action__icon">
                            <i class="icon icon-email"></i>
                          </div>
                          <div class="rule-action__body">
                            View email setup
                          </div>
                        </div>

                        <div class="rule-action" *ngIf="action.type === actionType.Alert">
                          <div class="rule-action__icon">
                            <i class="icon icon-bell"></i>
                          </div>
                          <div class="rule-action__body">
                            View alert setup
                          </div>
                        </div>

                        <div class="rule-action" *ngIf="action.type === actionType.AssetControl">
                          <div class="rule-action__icon">
                            <i class="icon icon-package"></i>
                          </div>
                          <div class="rule-action__body">
                            View controls setup
                          </div>
                        </div>

                        <div class="rule-action" *ngIf="action.type === actionType.StepControl">
                          <div class="rule-action__icon">
                            <i class="icon icon-control-shuffle"></i>
                          </div>
                          <div class="rule-action__body">
                            View step setup
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
