.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff10;
    padding: 6px 0;

    &__title {
      opacity: 0.75;
      font-size: 18px;
    }

    &__status {
      margin-left: 12px;
      opacity: 0.75;
    }

    &__actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }

  &-payload {
    padding: 8px 0;
  }
}

.step-action {
  margin-left: 16px;
  color: var(--color-grey);
  transition: color 256ms;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--color-brand);
  }

  i {
    margin-right: 6px;
  }

  &.active {
    color: var(--color-brand);
  }
}


.rule {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  background: var(--background-accent);
  padding: 12px 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;

    &-title {
      display: flex;
      align-items: center;

      i {
        margin-right: 12px;
        opacity: 0.5;
        font-size: 20px;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: 16px;

      i {
        cursor: pointer;
        opacity: 0.33;

        &:hover {
          color: var(--color-brand);
          opacity: 1;
        }

        &.active {
          color: var(--color-brand);
          opacity: 1;
        }
      }
    }
  }

  &-desc {
    opacity: 0.5;
    font-size: 14px;
    padding: 4px 0;
  }

  &-payload {
    display: flex;
    margin-top: 4px;

    &__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.rule-section {
  font-size: 14px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff25;
    padding: 4px 0;
    text-transform: uppercase;
    color: var(--color-brand);

    i {
      margin-right: 4px;
    }
  }

  &-body {
  }
}

.rule-node {
  display: flex;
  border: 1px dashed #ffffff20;
  padding: 16px 12px;
  position: relative;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: border-color 256ms;

  &__title {
    position: absolute;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 4px;
    top: -12px;
    left: 8px;
    opacity: 0.75;
    background: #303134;
    transition: opacity 256ms;
  }

  &:hover {
    border-color: #ffffff50;
  }

  &:hover &__title {
    opacity: 1;
  }

  &__body {
    width: 100%;
  }
}

.trigger {
  display: flex;
  align-items: stretch;

  &-assets {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
      height: 32px;
      background: var(--background-accent);
      margin-bottom: 4px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-radius: 4px;

      &:after {
        content: '';
        height: 1px;
        width: 16px;
        background: var(--background-accent);
        position: absolute;
        right: -16px;
        top: 52%;
      }

      &__icon {
        display: flex;
        align-items: center;
        margin-right: 8px;
      }

      &__device {
        margin-right: 8px;
        opacity: 0.75;
      }

      &__asset {
      }
    }
  }

  &-div {
    margin: 16px 16px;
    width: 4px;
    background: var(--background-accent);
    border-radius: 2px;
  }

  &-conditions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
      height: 32px;
      margin-bottom: 4px;
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        content: '';
        height: 1px;
        width: 16px;
        background: var(--background-accent);
        position: absolute;
        left: -16px;
        top: 52%;
      }

      &__operator {
        background: var(--background-accent);
        margin-right: 8px;
        position: relative;
        height: 100%;
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        color: var(--color-brand);

        &:after {
          content: '';
          height: 1px;
          width: 8px;
          background: var(--background-accent);
          position: absolute;
          right: -8px;
          top: 52%;
        }
      }

      &__value {
        background: var(--background-accent);
        height: 100%;
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        flex: 1;
      }
    }
  }
}

.rule-action {
  display: flex;

  &__icon {
    display: flex;
    align-items: center;
    font-size: 24px;
    opacity: 0.5;
    background: var(--color-grey-dark);
    padding: 8px;
    border-radius: 4px;
    margin-right: 12px;
  }

  &__body {
  }
}
