.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff10;
    padding: 12px 0;

    &__title {
      opacity: 0.75;
      font-size: 18px;
    }

    &__status {
      margin-left: 12px;
      opacity: 0.75;
    }

    &__actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }

  &-payload {
    padding: 8px;
  }
}

.step-action {
  margin-left: 16px;
  color: var(--color-grey);
  transition: color 256ms;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--color-brand);
  }

  i {
    margin-right: 6px;
  }

  &.active {
    color: var(--color-brand);
  }
}

.add-rule-action {
  display: flex;
  align-items: center;
  color: var(--color-brand);
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  i {
    margin-right: 8px;
  }
}
