.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff10;
    padding: 6px 0;

    &__title {
      opacity: 0.75;
      font-size: 18px;
    }

    &__status {
      margin-left: 12px;
      opacity: 0.75;
    }

    &__actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
  }

  &-payload {
    padding: 8px 0;
  }
}

.step-action {
  margin-left: 16px;
  color: var(--color-grey);
  transition: color 256ms;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--color-brand);
  }

  i {
    margin-right: 6px;
  }

  &.active {
    color: var(--color-brand);
  }
}


.rule {
  display: flex;
  flex-direction: column;
  background: var(--color-dark-primary);
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;

    &-title {
      display: flex;
      align-items: center;

      &__icon {
        margin-right: 8px;
        opacity: 0.5;
        font-size: 18px;
      }

      &__text {
      }

      &__edit {
        margin-left: 8px;
        opacity: 0.25;
        cursor: pointer;

        &:hover {
          opacity: 1;
          color: var(--color-brand);
        }
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: 16px;

      i {
        cursor: pointer;
        opacity: 0.33;
        margin-left: 12px;

        &:hover {
          color: var(--color-brand);
          opacity: 1;
        }

        &.active {
          color: var(--color-brand);
          opacity: 1;
        }
      }
    }
  }

  &-desc {
    opacity: 0.5;
    font-size: 14px;
    margin-top: 4px;
  }

  &-payload {
    margin-top: 16px;
    display: flex;
  }
}


.rule-triggers {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__list {
  }

  &__add {
  }
}


.rule-trigger {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover &-header {
    color: var(--color-brand);
  }

  &-header {
    padding: 8px 0;
    display: flex;
    align-items: center;
    transition: color 256ms;
    border-bottom: 1px solid var(--border-color-default);
    margin-bottom: 8px;
    font-size: 15px;

    &__icon {
      display: flex;
      align-items: center;
      margin-right: 6px;
      opacity: 0.5;
    }

    &__title {
      opacity: 0.75;
    }
  }

  &-body {
    display: flex;

    &__assets {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__condition {
      flex: 1;
    }
  }
}

.condition {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &__operator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    background: var(--background-accent);
    padding: 8px 12px;
    border-radius: 4px;
    flex: 0 0 25%;
    color: var(--color-brand);
  }

  &__value {
    background: var(--background-accent);
    color: var(--color-grey);
    padding: 8px 12px;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    max-width: 100%;
  }
}
