<div class="page-content">
  <div class="page-content-header">
    <div class="page-content-header__title">
      <i class="icon icon-receipt"></i>
      <span>{{ recipe.title }}</span>
    </div>
    <div class="page-content-header__actions">
      <button mat-flat-button>
        <i class="icon icon-control-play"></i>
        <span>Run</span>
      </button>

      <button mat-flat-button color="primary" (click)="onAddStep()">
        <i class="icon icon-plus"></i>
        <span>Add Step</span>
      </button>
    </div>
  </div>

  <div class="page-content-payload" *ngIf="(stepRules$ | async) as stepRules">
    <div class="step" *ngFor="let step of steps">
      <div class="step-header">
        <div class="step-header__title">{{ step.title }}</div>

        <div class="step-header__status" *ngIf="false">
          <div class="chip chip-sm">{{ step.status | stepStatus }}</div>
        </div>

        <div class="step-header__actions">
          <div class="step-action" (click)="onSwitchStep(step)">
            <i class="icon icon-power-off"></i>
            <span>Turn {{ step.disabled ? 'On' : 'Off' }}</span>
          </div>

          <div class="step-action" (click)="onAddRule(step)">
            <i class="icon icon-plus"></i>
            <span>Add Rule</span>
          </div>

          <div class="step-action" (click)="onEditStep(step)">
            <i class="icon icon-pencil"></i>
            <span>Edit</span>
          </div>
        </div>
      </div>

      <div class="step-payload">
        <div class="rule" *ngFor="let rule of stepRules(step.id)">
          <div class="rule-header">
            <div class="rule-header-title">
              <i class="rule-header-title__icon icon icon-bookmark"></i>
              <span class="rule-header-title__text">{{ rule.title }}</span>
            </div>

            <div class="rule-header-actions">
              <i class="icon icon-more-horizontal" [matMenuTriggerFor]="ruleMenu"></i>
              <mat-menu #ruleMenu="matMenu" (click)="onAddTrigger(rule)">
                <button mat-menu-item (click)="onEditRule(rule)">
                  <i class="icon icon-pencil"></i>
                  <span>Edit</span>
                </button>

                <button mat-menu-item (click)="onSwitchRule(rule)">
                  <i class="icon icon-power-off"></i>
                  <span>Switch {{ rule.disabled ? 'On' : 'Off' }}</span>
                </button>

                <button mat-menu-item (click)="onAddTrigger(rule)">
                  <i class="icon icon-hummer"></i>
                  <span>Add Trigger</span>
                </button>

                <button mat-menu-item (click)="onAddAction(rule)">
                  <i class="icon icon-bolt"></i>
                  <span>Add Action</span>
                </button>
              </mat-menu>
            </div>
          </div>

          <div class="rule-desc">{{ rule.desc ? rule.desc : 'No description' }}</div>

          <div class="rule-payload">
            <div *ngIf="false" class="rule-triggers">
              <div class="rule-triggers__list" *ngIf="(ruleTriggers$ | async) as ruleTriggers">
                <div class="rule-trigger" *ngFor="let trigger of ruleTriggers(rule.id)" (click)="onEditTrigger(trigger)">
                  <div class="rule-trigger-header">
                    <div class="rule-trigger-header__icon">
                      <i class="icon icon-hummer"></i>
                    </div>
                    <div class="rule-trigger-header__title">
                      {{ trigger.title }}
                    </div>
                  </div>

                  <div class="rule-trigger-body">
                    <div class="rule-trigger-body__assets">
                      <div class="condition" *ngFor="let asset of trigger.assets">
                        <span class="condition__value">{{ asset.device | assetDeviceName }}::{{ asset.title }}</span>
                      </div>
                    </div>

                    <div class="rule-trigger-body__condition">
                      <div class="condition" *ngFor="let condition of trigger.conditions">
                        <span class="condition__operator">{{ condition.operator | assetCondition }}</span>
                        <span class="condition__value">{{ condition.value }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
