<div class="page-content">
  <div class="page-content-header">
    <div class="page-content-header__title">
      <i class="icon icon-harddrive"></i>
      <span>{{ device.title }}</span>
    </div>

    <div class="page-content-header__actions">
      <button mat-flat-button color="primary" (click)="onAdd()">
        <i class="icon icon-plus"></i>
        <span>Add Asset</span>
      </button>
    </div>
  </div>

  <div class="page-content-payload">
    <table mat-table [dataSource]="assets" class="elevation">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.desc ? element.desc : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let element">
          {{ element.meta.unit ? element.meta.unit : '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef>Permission</th>
        <td mat-cell *matCellDef="let element">
          <div class="chip" [ngClass]="element.permission === 0 ? 'chip-success': 'chip-warn'">
            {{ element.permission | assetPermissionName: 'perm' }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Data Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.type | assetPermissionName: 'type' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let element">{{ element.created | date }}</td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef>Updated</th>
        <td mat-cell *matCellDef="let element">{{ element.updated | date }}</td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>Link</th>
        <td mat-cell *matCellDef="let element">
          <div class="chip">{{ element.link }}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" (click)="onEdit(row)"></tr>
    </table>
  </div>
</div>
