<div class="page" *ngIf="recipes">
    <div class="page-header">
      <div class="page-header-info">
        <div class="page-header-info__title">
          <i class="icon icon-receipt"></i>
          <span>Recipes</span>
        </div>
        <div class="page-header-info__sub-title">Items: {{ recipes.length }}</div>
      </div>
      <div class="page-header-actions">
        <button mat-flat-button color="primary" (click)="onAdd()">+ Add Recipe</button>
      </div>
    </div>

    <div class="page-payload">
      <table mat-table [dataSource]="recipes" class="elevation">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.desc ? element.desc : '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>Created</th>
          <td mat-cell *matCellDef="let element">{{ element.created | date }}</td>
        </ng-container>

        <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef>Updated</th>
          <td mat-cell *matCellDef="let element">{{ element.updated | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;" (click)="onEdit(row)"></tr>
      </table>
    </div>
  </div>
