<div class="page" *ngIf="(recipes$ | async) as recipes">
  <div class="page-sidebar">
    <div class="page-sidebar__title">
      <i class="icon icon-package"></i>
      <span>Recipes</span>
    </div>

    <div class="page-sidebar__list">
      <ng-container *ngIf="recipes.length">
        <div class="list-item"
             *ngFor="let recipe of recipes"
             [routerLink]="recipe.id.toString()"
             routerLinkActive="active"
        >
          <div class="list-item-icon">
            <i class="icon icon-receipt"></i>
          </div>
          <div class="list-item-payload">
            <div class="list-item-payload__title">{{ recipe.title }}</div>
            <div class="list-item-payload__subtitle">Updated: {{ recipe.updated | date: 'dd MMM yyyy' }}</div>
          </div>
          <div class="list-item-menu" (click)="onEdit(recipe)">
            <i class="icon icon-more-horizontal"></i>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!recipes.length">
        <app-empty-list title="No one recipe" subtitle='To add a recipe click on the button below'></app-empty-list>
      </ng-container>
    </div>

    <div class="page-sidebar__controls">
      <button mat-flat-button color="primary" (click)="onAdd()">
        <i class="icon icon-plus"></i>
        <span>Add Recipe</span>
      </button>
    </div>
  </div>

  <div class="page-payload">
    <ng-container *ngIf="!selected">
      <app-empty-list  title="No recipe selected" subtitle='Choose a recipe from the list'></app-empty-list>
    </ng-container>

    <ng-container *ngIf="selected">
      <router-outlet></router-outlet>
    </ng-container>
  </div>
</div>
