.action-list {
  display: flex;
  flex-direction: column;

  &-item {
    display: flex;
    align-items: center;
    background: var(--background-accent);
    border-radius: 4px;
    margin-top: 4px;
    height: 40px;
    padding: 0 12px;
    cursor: pointer;
    font-size: 14px;

    &__icon {
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      font-size: 18px;
    }

    &__title {
    }

    &__close {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      opacity: 0.33;
      font-size: 18px;
      transition: opacity 256ms;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-select {
    display: flex;
    flex-direction: column;
  }
}

.trigger-condition {
  display: flex;
  margin-bottom: 16px;

  &__select {
    flex: 1;
    margin-right: 8px;
  }

  &__value {
    flex: 1;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff10;
      height: 32px;
      width: 32px;
      border-radius: 4px;
    }
  }
}

.target-item {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 8px;
  }

  &__title {
  }

  &__type {
    margin-left: 12px;
  }
}
